/*

    Name:       dracula
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original dracula color scheme by Zeno Rocha (https://github.com/zenorocha/dracula-theme)

*/

.cm-s-dracula.CodeMirror,
.cm-s-dracula .CodeMirror-gutters {
  color: #4a5568;
  border: none;
}
.dark-theme .cm-s-dracula.CodeMirror,
.dark-theme .cm-s-dracula .CodeMirror-gutters {
  color: #f8f8f2;
  border: none;
}
.cm-s-dracula .CodeMirror-gutters {
  @apply bg-gray1;
}
.cm-s-dracula .CodeMirror-cursor {
  border-left: solid thin #4a5568;
}
.dark-theme .cm-s-dracula .CodeMirror-cursor {
  border-left: solid thin #f8f8f0;
}
.cm-s-dracula .CodeMirror-linenumber,
.cm-s-dracula .CodeMirror-guttermarker-subtle {
  @apply text-gray9;
}
.dark-theme .cm-s-dracula .CodeMirror-linenumber,
.dark-theme .cm-s-dracula .CodeMirror-guttermarker-subtle {
  @apply text-gray9;
}
.cm-s-dracula .CodeMirror-selected {
  background: rgba(0, 0, 0, 0.1);
}
.dark-theme .cm-s-dracula .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15);
}
.cm-s-dracula .CodeMirror-line::selection,
.cm-s-dracula .CodeMirror-line > span::selection,
.cm-s-dracula .CodeMirror-line > span > span::selection {
  background: rgba(0, 0, 0, 0.1);
}
.dark-theme .cm-s-dracula .CodeMirror-line::selection,
.dark-theme .cm-s-dracula .CodeMirror-line > span::selection,
.dark-theme .cm-s-dracula .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-dracula .CodeMirror-line::-moz-selection,
.cm-s-dracula .CodeMirror-line > span::-moz-selection,
.cm-s-dracula .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-dracula span.cm-comment {
  color: #6272a4;
}
.cm-s-dracula span.cm-string,
.cm-s-dracula span.cm-string-2 {
  color: #df51a2;
}
.dark-theme .cm-s-dracula span.cm-string,
.dark-theme .cm-s-dracula span.cm-string-2 {
  color: #ff80c9;
}
.cm-s-dracula span.cm-number {
  color: #925ddc;
}
.dark-theme .cm-s-dracula span.cm-number {
  color: #c59cff;
}
.cm-s-dracula span.cm-variable {
  color: #149635;
}
.dark-theme .cm-s-dracula span.cm-variable {
  color: #4de774;
}
.cm-s-dracula span.cm-variable-2 {
  color: white;
}
.cm-s-dracula span.cm-def {
  color: #149635;
}
.dark-theme .cm-s-dracula span.cm-def {
  color: #4de774;
}
.cm-s-dracula span.cm-operator {
  color: #df51a2;
}
.dark-theme .cm-s-dracula span.cm-operator {
  color: #ff80c9;
}
.cm-s-dracula span.cm-keyword {
  color: #df51a2;
}
.dark-theme .cm-s-dracula span.cm-keyword {
  color: #ff80c9;
}
.cm-s-dracula span.cm-atom {
  color: #925ddc;
}
.dark-theme .cm-s-dracula span.cm-atom {
  color: #c59cff;
}
.cm-s-dracula span.cm-meta {
  color: #f8f8f2;
}
.cm-s-dracula span.cm-tag {
  color: #df51a2;
}
.dark-theme .cm-s-dracula span.cm-tag {
  color: #ff80c9;
}
.cm-s-dracula span.cm-attribute {
  color: #149635;
}
.dark-theme .cm-s-dracula span.cm-attribute {
  color: #4de774;
}
.cm-s-dracula span.cm-qualifier {
  color: #149635;
}
.dark-theme .cm-s-dracula span.cm-qualifier {
  color: #4de774;
}
.cm-s-dracula span.cm-property {
  color: #1f72a0;
}
.dark-theme .cm-s-dracula span.cm-property {
  color: #68c0f0;
}
.cm-s-dracula span.cm-builtin {
  color: #149635;
}
.dark-theme .cm-s-dracula span.cm-builtin {
  color: #4de774;
}
.cm-s-dracula span.cm-variable-3,
.cm-s-dracula span.cm-type {
  color: #ffb86c;
}

.cm-s-dracula .CodeMirror-activeline-background {
  background-color: transparent !important;
}
.search-opened .cm-s-dracula .CodeMirror-activeline-background,
.cm-s-dracula.CodeMirror-focused .CodeMirror-activeline-background {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.dark-theme .search-opened .cm-s-dracula .CodeMirror-activeline-background,
.dark-theme .cm-s-dracula.CodeMirror-focused .CodeMirror-activeline-background {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
.cm-s-dracula .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: black;
}
.dark-theme .cm-s-dracula .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white;
}
