html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: SourceSansPro, sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
  @apply border-solid border-l border-gray3 border-t-0 border-b-0 border-r-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-clip-content bg-gray3 rounded border-solid border-transparent border-4;
  @apply hover:bg-gray6 hover:bg-clip-content;
}

::-webkit-scrollbar {
  @apply w-4;
  @apply h-0;
}

:root {
  --font-mono: "Roboto Mono Variable", monospace;
  --font-size-body: 0.75rem;
  --font-size-tiny: 0.688rem;
  --line-height-body: 1rem;

  --accent-color: theme("colors.indigo.500");
  --accent-light-color: theme("colors.indigo.400");
  --accent-dark-color: theme("colors.indigo.600");
  --accent-contrast-color: theme("colors.white");
  --gradient-from-color: theme("colors.indigo.200");
  --gradient-via-color: theme("colors.indigo.400");

  --primary-color: theme("colors.white");
  --primary-light-color: theme("colors.gray.50");
  --primary-dark-color: theme("colors.gray.100");
  --primary-contrast-color: theme("colors.light.50");

  --secondary-color: theme("colors.gray.500");
  --secondary-light-color: theme("colors.gray.400");
  --secondary-dark-color: theme("colors.gray.900");

  --divider-color: theme("colors.gray.100");
  --divider-light-color: theme("colors.gray.100");
  --divider-dark-color: theme("colors.gray.300");

  --error-color: theme("colors.yellow.100");
  --tooltip-color: theme("colors.neutral.800");
  --popover-color: theme("colors.white");

  --editor-type-color: theme("colors.purple.600");
  --editor-name-color: theme("colors.red.600");
  --editor-operator-color: theme("colors.indigo.600");
  --editor-invalid-color: theme("colors.red.600");
  --editor-separator-color: theme("colors.gray.600");
  --editor-meta-color: theme("colors.gray.600");
  --editor-variable-color: theme("colors.green.600");
  --editor-link-color: theme("colors.cyan.600");
  --editor-process-color: theme("colors.blue.600");
  --editor-constant-color: theme("colors.fuchsia.600");
  --editor-keyword-color: theme("colors.pink.600");
}

.dark-theme {
  --primary-color: theme("colors.dark.800");
  --primary-light-color: theme("colors.dark.600");
  --primary-dark-color: theme("colors.neutral.800");
  --primary-contrast-color: theme("colors.neutral.900");

  --secondary-color: theme("colors.neutral.400");
  --secondary-light-color: theme("colors.neutral.500");
  --secondary-dark-color: theme("colors.neutral.50");

  --divider-color: theme("colors.neutral.800");
  --divider-light-color: theme("colors.dark.500");
  --divider-dark-color: theme("colors.dark.300");

  --error-color: theme("colors.stone.800");
  --tooltip-color: theme("colors.neutral.100");
  --popover-color: theme("colors.dark.700");

  --editor-type-color: theme("colors.purple.400");
  --editor-name-color: theme("colors.blue.400");
  --editor-operator-color: theme("colors.indigo.400");
  --editor-invalid-color: theme("colors.red.400");
  --editor-separator-color: theme("colors.gray.400");
  --editor-meta-color: theme("colors.gray.400");
  --editor-variable-color: theme("colors.green.400");
  --editor-link-color: theme("colors.cyan.400");
  --editor-process-color: theme("colors.fuchsia.400");
  --editor-constant-color: theme("colors.violet.400");
  --editor-keyword-color: theme("colors.pink.400");
}

.cm-editor {
  .cm-line::selection {
    background-color: var(--accent-dark-color) !important;
    color: var(--accent-contrast-color) !important;
  }

  .cm-line ::selection {
    background-color: var(--accent-dark-color) !important;
    color: var(--accent-contrast-color) !important;
  }
}