@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: SourceSansPro;
    font-weight: 400;
    src: url(/fonts/SourceSansPro-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: SourceSansPro;
    font-weight: 600;
    src: url(/fonts/SourceSansPro-SemiBold.ttf) format('ttf');
  }
  @font-face {
    font-family: SourceSansPro;
    font-weight: 700;
    src: url(/fonts/SourceSansPro-Bold.ttf) format('ttf');
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.CodeMirror {
  height: 100% !important;
  background: none !important;
  font-size: 13px;
  font-weight: 500;
}
.CodeMirror,
.CodeMirror-gutters {
  @apply bg-white;
}
.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
  @apply bg-gray-250;
}
.dark .CodeMirror,
.dark .CodeMirror-gutters {
  @apply bg-gray-900;
}
.dark .CodeMirror-overlayscroll-horizontal div,
.dark .CodeMirror-overlayscroll-vertical div {
  @apply bg-gray-800;
}
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: transparent !important;
}
.search-highlight {
  background-color: rgba(238, 238, 0, .6) !important;
  color: rgba(17, 24, 39, 1) !important;
}

.splitpanes__splitter {
  position: relative;
}
.splitpanes__splitter:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  opacity: 0;
  z-index: 10;
}
.splitpanes__splitter:before {
  @apply bg-gray-150;
}
.dark .splitpanes__splitter:before {
  @apply bg-gray-750;
}
.splitpanes__splitter:hover:before {
  opacity: 1;
}
.splitpanes--vertical > .splitpanes__splitter:before {
  left: -3px;
  right: -3px;
  height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -3px;
  bottom: -3px;
  width: 100%;
}
.splitpanes .splitpanes__pane {
  transition: none;
}
