@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: SourceSansPro;
    font-weight: 400;
    src: url(/fonts/SourceSansPro-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: SourceSansPro;
    font-weight: 600;
    src: url(/fonts/SourceSansPro-SemiBold.ttf) format('ttf');
  }
  @font-face {
    font-family: SourceSansPro;
    font-weight: 700;
    src: url(/fonts/SourceSansPro-Bold.ttf) format('ttf');
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.CodeMirror {
  height: 100% !important;
  background: none !important;
  font-size: 13px;
  font-weight: 500;
}
.CodeMirror,
.CodeMirror-gutters {
  @apply bg-white;
}
.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
  @apply bg-gray-250;
}
.dark .CodeMirror,
.dark .CodeMirror-gutters {
  @apply bg-gray-900;
}
.dark .CodeMirror-overlayscroll-horizontal div,
.dark .CodeMirror-overlayscroll-vertical div {
  @apply bg-gray-800;
}
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: transparent !important;
}
