/* Style */
.v-popper--theme-tooltip .v-popper__inner {
  background: #ffffff;
  color: #374151;
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

.dark .v-popper--theme-tooltip .v-popper__inner {
  background: #242d3d;
  color: #e5e7eb;
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.v-popper--theme-tooltip .v-popper__arrow {
  border-color: #ffffff;
}

.dark .v-popper--theme-tooltip .v-popper__arrow {
  border-color: #242d3d;
}